<footer>
    <div class="container clearfix">
        <div class="fl info">
            <nav class="clearfix">
                <a href="http://about.kanshu.com/" target="_blank">关于看书网</a>
                <a href="http://about.kanshu.com/contactus.htm" target="_blank">联系我们</a>
                <a href="http://about.kanshu.com/cpyc.htm" target="_blank">诚聘英才</a>
                <a href="http://about.kanshu.com/swhz.htm" target="_blank">商务合作</a>
                <a href="http://about.kanshu.com/friendlink.htm" target="_blank">友情链接</a>
            </nav>
            <div>本站所收录所有玄幻小说、言情小说、都市小说级其他各类小说作品、小说阅读网、免费小说阅读网、小说评论均属其个人行为，不代表本站立场。</div>
            <div>Copyright(C)2004-2025看书网 ALLRights Reserved 成都古羌科技有限公司 版权所有</div>
            <div>蜀ICP备14011046号 电信增值业务许可证：川B2-20100073</div>
            <div>网络文化经营许可证：川网文[2011]0207-6号</div>
        </div>

    </div>
</footer>