<div class="headBox clearfix">
    <a href="/" class="logo fl"></a>
    <a href="/mybooks" class="fr mybooks">我的书架</a>
    <div class="searchBox clearfix">

        <input type="text" class="fl txt" name="" id="search_txt" placeholder="青春无悔">
        <input type="submit" class="sub_btn" name="" id="search_btn" value="">
        <div></div>
    </div>
</div>
<div class="menuBox clearfix">
    <span class="zuopintip fl tc fw">作品分类</span>
    <nav class="menu fl clearfix">
        <a href="/" title="女生言情网">女生</a>
        <a href="/" title="小说书库">书库</a>
        <a href="/" title="小说排行榜">排行</a>
        <a href="/" title="全本小说">完本</a>
        <a href="/">福利</a>
        <a href="/">成为作者</a>
    </nav>
    <a href="/" class="fr chongzhi tc">充值</a>
</div>